.carrito-page {
  display: flex;
  gap: 2rem;
}

.productos-list {
  max-height: 80vh;
  overflow-y: auto;
}

.carrito-right {
  max-height: 80vh;
  overflow-y: auto;
}

.carrito-header span,
.carrito-item span {
  width: 100px;
  text-align: center;
}

.carrito-item input {
  width: 50px;
}

.product-card-small:hover {
  transform: translateY(-3px);
  transition: 0.2s;
}
